USE [minhlamcons]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Address] [nvarchar](500) NULL,
	[Gender] [bit] NOT NULL,
	[JoinedDate] [datetime2](7) NULL,
	[BOD] [datetime2](7) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Des] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PageId] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Delete] [bit] NOT NULL,
	[H1Tag] [nvarchar](500) NOT NULL,
	[SEODescription] [nvarchar](500) NOT NULL,
	[SEOKeyword] [nvarchar](255) NULL,
	[SEOTitle] [nvarchar](255) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[IsHot] [bit] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Delete] [bit] NOT NULL,
	[Order] [int] NULL,
	[ParentId] [int] NULL,
	[Des] [nvarchar](500) NULL,
	[PageType] [int] NOT NULL,
	[ShowHomePage] [int] NULL,
	[H1Tag] [nvarchar](500) NOT NULL,
	[SEODescription] [nvarchar](500) NOT NULL,
	[SEOKeyword] [nvarchar](255) NULL,
	[SEOTitle] [nvarchar](255) NOT NULL,
	[IsSidebar] [bit] NOT NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteSetting]    Script Date: 12/17/2025 3:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSetting](
	[Id] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_SiteSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210314024945_initdb', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210320020734_edit_page1', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210320080808_edit_tbpage2', N'5.0.4')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Description], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ab9d6084-91aa-417f-8029-eecbccd849b6', N'Admin', N'Admin', N'ADMIN', N'6ca36322-618e-40a4-b971-6d8663c9c41a')
INSERT [dbo].[AspNetRoles] ([Id], [Description], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'eefd660e-9105-48cb-b39c-4b0af23898ca', N'Moderator', N'Moderator', N'MODERATOR', N'9c57e31b-6c91-4f70-aeca-974a4e1ff0c0')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'381ee163-d90b-49f6-8533-8b0ad4f2f607', N'ab9d6084-91aa-417f-8029-eecbccd849b6')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'739b6c61-7aed-4f0c-b5be-ca0226984ea2', N'eefd660e-9105-48cb-b39c-4b0af23898ca')
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([Id], [Name], [Des], [Image], [Content], [PageId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete], [H1Tag], [SEODescription], [SEOKeyword], [SEOTitle], [Url], [IsHot]) VALUES (2, N'bài 2 dự án', N'abc', N'8be23906-ff37-4039-8c7d-e019eabea202_shutterstock_667100452_huge.jpg', N'<p>def</p>
', 20, N'0907232829', CAST(N'2021-03-21T15:24:23.0000000' AS DateTime2), N'0907232829', CAST(N'2021-05-10T17:16:30.4046312' AS DateTime2), 1, N'h1', N'des', NULL, N'bai 2', N'bai-2-du-an', 0)
INSERT [dbo].[News] ([Id], [Name], [Des], [Image], [Content], [PageId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete], [H1Tag], [SEODescription], [SEOKeyword], [SEOTitle], [Url], [IsHot]) VALUES (3, N'bài ba', N'abc', N'526bcbc4-9b40-45d9-8588-19d212e8511e_P21EVO0.jpg', N'<p>def</p>
', 20, N'0907232829', CAST(N'2021-03-21T15:24:48.0000000' AS DateTime2), N'0907232829', CAST(N'2021-05-10T17:16:06.1790289' AS DateTime2), 1, N'h1', N'des', NULL, N'bai 3', N'bai-ba', 0)
INSERT [dbo].[News] ([Id], [Name], [Des], [Image], [Content], [PageId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete], [H1Tag], [SEODescription], [SEOKeyword], [SEOTitle], [Url], [IsHot]) VALUES (4, N'bài bốn', N'abc', N'a2fc7248-c877-4ad1-9278-4ad0f430fd97_RE4wHeu.jpg', N'<p>def</p>
', 12, N'0907232829', CAST(N'2021-03-21T15:50:00.0000000' AS DateTime2), N'0907232829', CAST(N'2021-05-10T17:16:39.3530947' AS DateTime2), 1, N'bai 4', N'bai 4', NULL, N'bai 4', N'bai-bon', 0)
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Page] ON 

INSERT [dbo].[Page] ([Id], [Name], [Url], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete], [Order], [ParentId], [Des], [PageType], [ShowHomePage], [H1Tag], [SEODescription], [SEOKeyword], [SEOTitle], [IsSidebar]) VALUES (3, N'Trang chủ', N'/', N'0911321202', CAST(N'2021-03-20T19:54:51.0000000' AS DateTime2), N'0907232829', CAST(N'2021-06-03T08:01:05.0652504' AS DateTime2), 0, 1, NULL, NULL, 0, NULL, N'Công Ty Cổ Phần Xây Dựng Minh Lâm', N'Công Ty Cổ Phần Xây Dựng Minh Lâm', N'Công Ty Cổ Phần Xây Dựng Minh Lâm', N'Công Ty Cổ Phần Xây Dựng Minh Lâm', 0)
INSERT [dbo].[Page] ([Id], [Name], [Url], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete], [Order], [ParentId], [Des], [PageType], [ShowHomePage], [H1Tag], [SEODescription], [SEOKeyword], [SEOTitle], [IsSidebar]) VALUES (4, N'Giới thiệu', N'gioi-thieu', N'0911321202', CAST(N'2021-03-20T20:00:38.0000000' AS DateTime2), N'0907232829', CAST(N'2021-05-12T19:55:35.2504734' AS DateTime2), 0, 2, NULL, N'Giới thiệu', 0, NULL, N'Giới thiệu', N'Giới thiệu', N'Giới thiệu', N'Giới thiệu', 0)
INSERT [dbo].[Page] ([Id], [Name], [Url], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete], [Order], [ParentId], [Des], [PageType], [ShowHomePage], [H1Tag], [SEODescription], [SEOKeyword], [SEOTitle], [IsSidebar]) VALUES (5, N'Về chúng tôi', N've-chung-toi', N'0911321202', CAST(N'2021-03-20T20:25:22.0000000' AS DateTime2), N'0907232829', CAST(N'2021-04-01T20:57:14.5540588' AS DateTime2), 0, 1, 4, NULL, 5, NULL, N'Về chúng tôi', N'Về chúng tôi', NULL, N'Về chúng tôi', 0)
SET IDENTITY_INSERT [dbo].[Page] OFF
GO
INSERT [dbo].[SiteSetting] ([Id], [Content], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete]) VALUES (1, N'10b2622c-2d0f-4542-be93-5f1607ae81fe_lamvien.png', N'0911321202', CAST(N'2021-03-21T09:58:56.0000000' AS DateTime2), N'0911321202', CAST(N'2025-12-17T11:40:36.4711248' AS DateTime2), 0)
INSERT [dbo].[SiteSetting] ([Id], [Content], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete]) VALUES (2, N'MINHLAM CONSTRUCTION', N'0911321202', CAST(N'2021-03-21T09:41:12.8313855' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[SiteSetting] ([Id], [Content], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Delete]) VALUES (3, N'Số 33 Phan Huy Ích, P.15, Q.Tân Bình, HCMC', N'0907232829', CAST(N'2021-04-03T10:43:38.5573782' AS DateTime2), NULL, NULL, 0)
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (N'') FOR [H1Tag]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (N'') FOR [SEODescription]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (N'') FOR [SEOTitle]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsHot]
GO
ALTER TABLE [dbo].[Page] ADD  DEFAULT ((0)) FOR [PageType]
GO
ALTER TABLE [dbo].[Page] ADD  DEFAULT (N'') FOR [H1Tag]
GO
ALTER TABLE [dbo].[Page] ADD  DEFAULT (N'') FOR [SEODescription]
GO
ALTER TABLE [dbo].[Page] ADD  DEFAULT (N'') FOR [SEOTitle]
GO
ALTER TABLE [dbo].[Page] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSidebar]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Page_PageId] FOREIGN KEY([PageId])
REFERENCES [dbo].[Page] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Page_PageId]
GO
